<%if user_signed_in?%>
<h1> Member Pins</h1>
<% else %>
<div class="center hero-unit">
    <h1>Marla Knows</h1>

    <h2>
     Stop shopping at full price.  Marla's got your back.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>

<% end %>