<h1>Marla Understands.</h1>
<p>
   You don't have the money to pay full price or the time to look for discounts. </p> <h3>You don't have to tell her twice.  </h3>

<p>
Marla Knows is more than just a computer program named after a real woman with discount super powers.  It's a movement.  We have been paying full price for too long and we're not going to put up with it.
</p>
<p>
Let Marla show you the way.  Seriously. She knows.
</p>